.row-fluid
  .span4{style: "margin-top:50px;border:1px solid #000000;border-radius:4px;padding:3px 7px;"}
    -if user_signed_in?
      %h6
      = render 'noms/create'
    -else
      %h6
      = render 'devise/sessions/login'
      %h4 New to YumHub? Sign up!
      = render 'devise/registrations/signup'
  .span8.pull-right.rightside_feed
    %h4{style: "display:inline-block;"} Noms!
    %ul.nav.nav-pills.pull-right{style: "margin-top:5px;margin-bottom:-10px;"}
      %li.active
        %a{href: '#'} All
      %li
        %a{href: '#'} Followed
    = render 'shared/feed'