// * This is a manifest file that'll automatically include all the stylesheets available in this directory
// * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// * the top of the compiled file, but it's generally better to create a new file per style scope.
// *= require_self
// *= require_tree .

body
  padding-top: 40px
  
.textfieldwidth
  width: 270px
  
.only_vertical
  resize: vertical
  
.alert_flash
  position: absolute
  top: 10px

.rightside_feed
  margin-top: 50px
  border: 1px solid #000000
  border-radius: 4px
  padding: 3px 7px

.nom_feed
  list-style: none
  margin: 5px -5px

.single_nom
  height: 70px
  display: block
  cursor: pointer

.userimage_nom
  width: 70px
  float: left
  text-align: center
  
.info_nom
  text-align: left
  max-height: 65px
  text-overflow: ellipsis